.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  text-align: center;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.section--shift {
  padding-top: 0;
}

.section__title--hidden {
  display: none;
}

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.studio-header {
  color: #000;
  font-family: "Raleway";
}

.studio-footer {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
}

.logo {
  display: inline-block;
  margin-bottom: 20;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  color: #2196f3;
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
}

.container__item {
  width: 270px;
}

.container__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-transform: uppercase;
}

.container__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.list-item {
  position: relative;
}

.list-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.peoples {
  background-color: #f5f4fa;
}

.item-userpic {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.avatar {
  display: block;
  max-width: 100%;
}

.name-position {
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.position {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  list-style-type: none;
}

.social-network > .social:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list__link:hover, .list__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.list__link:not(:last-child) {
  margin-right: 30px;
}

.hero .button {
  display: inline-block;
  padding: 10px 32px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover {
  color: #ffffff;
  background-color: #188ce8;
}

.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover {
  fill: #2196f3;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn {
  position: relative;
  margin-top: 20px;
  margin-left: 12px;
  padding: 10px 62px 10px 29px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f4fa;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  color: #ffffff;
  background-color: #188ce8;
}

.btn-title {
  position: absolute;
  top: 10px;
  left: 29px;
}

.btn-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.list-button {
  list-style: none;
}

.section-btn-all {
  display: block;
  padding: 6px 22px;
  margin-right: 8px;
  border: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #ffffff;
  background-color: #2196f3;
}

.section-btn {
  display: block;
  padding: 6px 22px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-btn:hover, .section-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 100%;
  height: 100%;
}

.form-text {
  display: block;
  margin: 40px 40px 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
}

.field {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
}

.subtitle {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  font-size: 16px;
  line-height: 1.12;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color;
  transition: border-color;
  outline: none;
}

.input:hover,
.input:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.field:focus-within > .data-icon {
  fill: #2196f3;
}

.field:focus-within > .input {
  border-color: #2196f3;
}

.data-icon {
  position: absolute;
  top: 50%;
  left: 52px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color;
  transition: border-color;
  outline: none;
}

.comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.comment:hover {
  border-color: #2196f3;
}

.input:focus {
  border-color: #2196f3;
}

.field:focus-within > .comment {
  border-color: #2196f3;
}

.field-policy {
  position: relative;
}

.checkbox-icon {
  position: absolute;
  border: 2px solid #212121;
  border-radius: 2px;
  top: 0;
  left: -23px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-left: 76px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border: 2px solid transparent;
}

.policy-link {
  color: #2196f3;
}

.submit {
  margin: 30px 164px 40px 164px;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover {
  color: #ffffff;
  background-color: #188ce8;
}

.portfolio {
  padding: 94px 0;
}

.list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 34px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foto {
  margin: 0 0 -30px -30px;
}

.items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% / 3 - 30px);
  margin: 0 0 30px 30px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.items:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.text-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  padding: 63px 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.items:hover .text-portfolio {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-name {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.project-type {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.list-link {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover {
  background-color: #2196f3;
}

.header {
  outline: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auth-nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover, .auth-nav .link:focus {
  color: #2196f3;
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon:hover, .mail-icon:focus {
  fill: #2196f3;
}

.auth-nav li + li {
  margin-left: 50px;
}

.link-studio,
.link-foto {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196f3;
  text-decoration: none;
}

.link-studio::after {
  position: absolute;
  display: block;
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  background-color: #2196f3;
  opacity: 1;
}

.link-foto::after {
  position: absolute;
  display: block;
  content: "";
  width: 78px;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  background-color: #2196f3;
  opacity: 1;
}

.footer {
  background: #2f303a;
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address {
  padding: 60px 70px 60px 0px;
}

.list-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-address:hover, .list-address:focus {
  color: #2196f3;
}

.mail,
.tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: #2196f3;
}

.list-address,
.mail {
  display: inline-block;
  margin-bottom: 9px;
}

.tel {
  display: inline-block;
}

.content {
  padding-top: 72px;
  padding-bottom: 100px;
}

.social-network-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.social-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footer:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.forma {
  margin-top: 72px;
  margin-left: 93px;
}

.form-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.caption {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */