.footer {
  background: #2f303a;
}

.footer > .container {
  @media screen and (min-width: 480px) {
    justify-content: center;
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: left;
    padding-top: 0px;
  }
}

// Адрес

.address {
  @media screen and (min-width: 480px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    padding: 60px 0 60px 0px;
    margin-right: 70px;
    justify-content: left;
  }
}

.list-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $white-color;
  text-decoration: none;
  transition-duration: $transition-duration;
  transition-timing-function: $option;

  &:hover,
  &:focus {
    color: $text-decoration-color;
  }
}

.mail,
.tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: $option;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: $text-decoration-color;
}

.list-address,
.mail {
  display: inline-block;
  margin-bottom: 8px;
}

.tel {
  display: inline-block;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

//Присоединяйтесь в социальных сетях

.content {
  @media screen and (min-width: 1200px) {
    padding-top: 75px;
    margin-right: 93px;
  }
}

.social-network-footer {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin-bottom: 60px;
}

.social-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white-color;
  transition-duration: $transition-duration;
  transition-timing-function: $option;

  &:hover,
  &:focus {
    background-color: $text-decoration-color;
    fill: $white-color;
  }
}

.forma {
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 72px;
    text-align: left;
  }
}

.form-label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: $white-color;
}

.footer-box {
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.form-input {
  width: 450px;
  height: 50px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.caption {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  color: $white-color;
}
