.header {
  outline: 1px solid $header-line-color;
  position: relative;
}

//Main-nav

.main-nav {
  display: flex;
  // align-items: center;
  // margin-bottom: 0;
}

// Site-nav

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    // margin-left: 93px;
  }
}

.site-nav .link {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 0;
  color: $title-text-color;
  text-decoration: none;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $option;

  &:hover,
  &:focus {
    color: $text-decoration-color;
  }

  @media screen and (max-width: 767px) {
    padding-left: 40px;
    font-size: 40px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
  }
}

.site-nav li:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

// Auth-nav

.auth-nav {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-top: 302px;
  }

  @media screen and (min-width: 768px) {
    // flex-direction: column;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 305px;
  }
}

.nav-item__link {
  display: flex;
  align-items: center;
  border: none;
  font-weight: 500;
  color: $primary-text-color;
  text-decoration: none;
  transition-duration: $transition-duration;
  transition-timing-function: $option;

  &:hover,
  &:focus {
    color: $text-decoration-color;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.nav-item {
  @media screen and (max-width: 767px) {
    padding-top: 32px;
    padding-left: 40px;
    &:last-child {
      color: $primary-text-color;
      padding-top: 0;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-left: 0;
  }
  @media screen and (min-width: 1200px) {
    // display: flex;
  }
}

.telephone {
  display: flex;
  align-items: center;
  border: none;
  font-weight: 500;
  color: $primary-text-color;
  text-decoration: none;
  transition-duration: $transition-duration;
  transition-timing-function: $option;

  &:hover,
  &:focus {
    color: $text-decoration-color;
  }
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  color: $text-decoration-color;

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.17;
    color: $primary-text-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.17;
  }
}

.email {
  display: flex;
  align-items: center;
  border: none;
  font-weight: 500;
  color: $primary-text-color;
  text-decoration: none;
  transition-duration: $transition-duration;
  transition-timing-function: $option;

  &:hover,
  &:focus {
    color: $text-decoration-color;
  }
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.17;
  }
}

.mail-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 8px;
    fill: currentColor;
    align-items: center;
    transition-duration: $transition-duration;
    transition-timing-function: $option;

    &:hover,
    &:focus {
      fill: $text-decoration-color;
    }
  }
}

.auth-nav li + li {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.link-studio,
.link-foto {
  display: block;

  font-weight: 500;
  color: $text-decoration-color;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    padding-top: 48px;
    padding-left: 40px;
    font-size: 40px;
    line-height: 1.14;
    text-align: left;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.link-studio::after {
  @media screen and (min-width: 768px) {
    position: absolute;
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: $text-decoration-color;
    opacity: 1;
  }
}

.link-foto::after {
  @media screen and (min-width: 768px) {
    position: absolute;
    display: block;
    content: "";
    width: 78px;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: $text-decoration-color;
    opacity: 1;
  }
}

.menu-social {
  display: flex;
  list-style-type: none;
  margin-top: 64px;
  margin-bottom: 48px;
  padding-left: 40px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-social__link {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {
    border-right: none;
  }
}

.menu-social-link:last-child {
  margin-right: 0;
}

.menu-social__item {
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  color: $text-decoration-color;
}
