//модальное окно

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-duration: $transition-duration;
  transition-timing-function: $option;
}

.modal {
  position: absolute;
  background-color: $white-color;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition-duration: $transition-duration;
  transition-timing-function: $option;

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.form {
  width: 100%;
  height: 100%;
}

.form-text {
  display: block;
  margin: 40px 40px 12px;
  font-weight: 700;
  color: $title-text-color;
  text-align: center;
  @media screen and (min-width: 480px) {
    font-size: 20px;
    line-height: 1.5;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.5;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.17;
  }
}

.field {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
}

.subtitle {
  display: block;
  margin-top: 10px;
  color: $primary-text-color;

  @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  font-size: 16px;
  line-height: 1.12;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: $transition-duration;
  transition-timing-function: $option;
  transition: border-color;
  outline: none;
}

.input:hover,
.input:focus {
  border-color: $text-decoration-color;
  fill: $text-decoration-color;
}

.field:focus-within > .data-icon {
  fill: $text-decoration-color;
}

.field:focus-within > .input {
  border-color: $text-decoration-color;
}

.data-icon {
  position: absolute;
  top: 50%;
  left: 52px;
  transition-duration: $transition-duration;
  transition-timing-function: $option;
}

.comment {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  color: $primary-text-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-duration: $transition-duration;
  transition-timing-function: $option;
  transition: border-color;
  outline: none;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    @media screen and (min-width: 480px) {
      font-size: 14px;
      line-height: 1.17;
    }
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.17;
    }
    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: 1.17;
    }
  }

  &:hover {
    border-color: $text-decoration-color;
  }

  @media screen and (min-width: 480px) {
    font-size: 14px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.input:focus {
  border-color: $text-decoration-color;
}

.field:focus-within > .comment {
  border-color: $text-decoration-color;
}

.field-policy {
  position: relative;
}

.checkbox-icon {
  position: absolute;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  top: 0;
  left: -23px;
  transition-duration: $transition-duration;
  transition-timing-function: $option;
}

.agreement {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-left: 64px;
  color: $primary-text-color;

  @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox:checked + .checkbox-icon {
  background-color: $text-decoration-color;
  border: 2px solid transparent;
}

.policy-link {
  color: $text-decoration-color;
}
